livekit-agents==1.0.20
livekit-plugins-assemblyai
livekit-plugins-openai==1.0.20
livekit-plugins-cartesia
livekit-plugins-silero==1.0.20
livekit-plugins-noise-cancellation
livekit-plugins-turn-detector
httpx
python-dotenv
