version: '3.8'
services:
  livekit:
    image: 'livekit/livekit-server:latest'
    container_name: livekit-server
    restart: unless-stopped
    ports:
      - '7880:7880'
      - '7881:7881'
      - '7881:7881/udp'
      - '50000-50100:50000-50100/udp'
    environment:
      LIVEKIT_CONFIG: "port: 7880\nrtc:\n  port_range_start: 50000\n  port_range_end: 50100\n  tcp_port: 7881\n  use_external_ip: true\nkeys:\n  API3da17ac5856eb78524a98386: xN0/L4XcGm2REUgPISgj4rXXxt7JZNAqSKEnC3fRi4I=\nlogging:\n  level: info\n"
    healthcheck:
      test:
        - CMD
        - wget
        - '-q'
        - '--spider'
        - 'http://localhost:7880'
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      - coolify.managed=true
      - coolify.applicationId=43
      - coolify.type=application
      - traefik.enable=true
      - traefik.http.middlewares.gzip.compress=true
      - traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https
      - traefik.http.routers.http-0-livekit.entryPoints=http
      - traefik.http.routers.http-0-livekit.middlewares=redirect-to-https
      - traefik.http.routers.http-0-livekit.rule=Host(`livekit.rezult.co`) && PathPrefix(`/`)
      - traefik.http.routers.http-0-livekit.service=http-0-livekit
      - traefik.http.routers.https-0-livekit.entryPoints=https
      - traefik.http.routers.https-0-livekit.middlewares=gzip
      - traefik.http.routers.https-0-livekit.rule=Host(`livekit.rezult.co`) && PathPrefix(`/`)
      - traefik.http.routers.https-0-livekit.service=https-0-livekit
      - traefik.http.routers.https-0-livekit.tls.certresolver=letsencrypt
      - traefik.http.routers.https-0-livekit.tls=true
      - traefik.http.services.http-0-livekit.loadbalancer.server.port=7880
      - traefik.http.services.https-0-livekit.loadbalancer.server.port=7880
      - caddy_0.encode=zstd gzip
      - caddy_0.handle_path.0_reverse_proxy={{upstreams 7880}}
      - caddy_0.handle_path=/*
      - caddy_0.header=-Server
      - caddy_0=https://livekit.rezult.co
      - caddy_ingress_network=coolify
